body {
  background-color: dodgerblue;color:
  black;
  font-family: "BBH Sans Bogle", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

  button {
  background-color: dodgerblue;
  color: black;
  font-family:"merriweather", serif;

  }

  .passo {
    display: none;
  }

  .passo.ativo {
 display: block;

 }

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
